{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>CreationDate</th>
                <th>Published</th>
                <th>PublishedDate</th>
                <th>Content</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.tittle }}</td>
                <td>{{ post.slug }}</td>
                <td>{{ post.CreationDate | date('d/m/Y à H:i:s') }}</td>
                <td>{{ post.published }}</td>
                <td>{{ post.publishedDate | date('d/m/Y')}}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.image }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}